.main-title {
    margin-bottom: 26px;
  }
  
  .data {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-bottom: 26px;
  }
  
  input[type='text'] {
    display: block;
    font-size: 16px;
    color: #bd34fe;
    min-width: 272px;
    min-height: 40px;
    border-radius: 8px;
    border: 1px solid #41d1ff;
    outline-color: #bd34fe;
  }
  
  input:disabled {
    background: #cfcfcf;
    border: black;
    color: #5e5b5b;
    color: #d4cec7f3;
    text-shadow: 1px 2px 4px rgba(255, 255, 255, 0.11);
  }
  
  button {
    display: block;
    min-width: 100px;
    min-width: 75px;
    min-height: 40px;
    padding: 8px 16px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-shadow: 1px 2px 4px white;
    background: linear-gradient(130deg, #41d1ff 30%, #bd34fe);
    border: 1px solid orangered;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
  }
  
  button:hover {
    background: linear-gradient(130deg, #bd34fe 30%, #41d1ff);
    transform: scale(1.05);
  }
  
  button:disabled {
    background: #cfcfcf;
    border: black;
    color: #5e5b5b;
    text-shadow: 1px 2px 4px rgba(255, 255, 255, 0.11);
  }
  
  button:disabled:hover {
    transform: scale(1);
  }
  
  .timer {
    display: flex;
    flex-direction: row;
    gap: 32px;
    min-width: 100vw;
    min-height: 100%;
    margin: 0;
  }
  
  .field {
    display: flex;
    flex-direction: column;
  }
  
  .value {
    font-weight: 400;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 4%;
    color: #d4cec7f3;
  }
  
  .value.active {
    font-weight: 600;
    background-image: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .label {
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #5e5b5b;
  }
  
  .label.active {
    font-weight: 600;
    background-image: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  main {
    flex-grow: 1;
  }
  
  .btn {
    background-color: #bd34fe;
    color: #cfcfcf;
  }
  
  .iziToast .iziToast-buttons {
    background-color: #c0582fea;
    color: #cfcfcf;
    font-weight: bold;
    border-radius: 10px;
  }
  
  .iziToast .iziToast-buttons:hover {
    background-color: #e44c10;
    border-radius: 10px;
  }
  
  .link-with-preview {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  
  .preview-image {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -100%) scale(0);
    max-width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    border: 1px solid #ccc;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .link-with-preview:hover .preview-image {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  .error-Toast .iziToast-icon {
    background-image: url('../img/error.svg');
    background-size: contain;
  }
  
  .iziToast-icon img {
    width: 20px;
    height: 20px;
  }
  
  .iziToast {
    max-width: 400px;
  }